.miBg{
    background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(9,113,121,0.8071603641456583) 35%, rgba(0,212,255,1) 100%);
}
.header{
    min-height: ($vh-total/5)-5; 
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    font-family: 'Castoro', serif;
}

.header__links a:hover{
    background-color: white;
    border-radius: 50% 20% / 10% 40%;
}


.header__barra{
    max-width: ($w-total)-40; 
}

.header__boton{
    color: white;
    border: 1px solid white;
    &:hover{
        background: silver;
    }
}