@mixin resumen{
    width: 60%;
    margin: 0.5rem auto;
    padding: 1em;
    background-color: #eef1fd;
    color: black;
}

@mixin icono{
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 1em;
}

@mixin textoAside{
	color: white;
    font-size: 700;
    padding: 1.5em;
}

@mixin textoIntro{
	color: black;
	text-align: center;
	letter-spacing: .08em;
	padding: 2.5em;
	font-weight: bold;
	line-spacing: .5em;
	word-spacing: .1em;
}
