@mixin resumen{
    margin: 0.5rem auto;
    padding: 2em;
    background-color: #eef1fd;
    border-radius: 1em 5em;
    color: black;
    font-weight: bold;
    word-spacing: .1em;
    letter-spacing: .08em;
}

@mixin icono{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 1em;
}

@mixin textoAside{
	color: white;
    font-size: 700;
    padding: 1.5em;
}

@mixin textoIntro{
	color: black;
	text-align: justify;
	letter-spacing: .08em;
	padding: 2em;
	font-weight: bold;
	word-spacing: .1em;
}

@mixin titulosLibros{
    display: inline-block;
    font-size: 2rem; 
}