.pics{
	width: $w-total;
	max-width: 1200px;
	background-color: #60b6c736;
	border-radius: 1em 5em;
	@media all and (min-width: 768px){		
		width: ($w-total)-10; 
	}
}

.pics__img{
	width: 50%;
	height: 50%;
	max-width: 269px;
	max-height: 377px;
	border: 5px outset;
}

.pics__texto h2{
	@include titulosLibros;
}
.pics__texto{
	& p{
		@include textoIntro;
	}	
}

.pics__texto, img.pics__img{
	align-self: flex-start;
	margin-top: 3rem;
}



.backContactoRecomienda{
	background-image: url("../media/contactosm.png"); 
	@media all and (min-width: 768px){
		background-image: url("../media/contactomd.png")
	}
	@media all and (min-width: 992px){
		background-image: url("../media/contacto.png")
	}
}


.formContacto{
	font-family: 'Bree Serif', serif;
    font-family: 'Castoro', serif;
}

.contacto{
	text-align: center;
}

.contacto h1{
	font-size: 1.5rem;
}

.contacto p{
	font-size: 1.3rem;
}

.misInputs{
	width: ($w-total)/2;
	margin: 1.2rem auto;
	padding: 1em;
}

.miSelector{
	width: ($w-total)/2;
	margin: 0 auto 1.2rem auto;
}

@media all and (min-width: 768px)
	{
		.misInputs, .miSelector{
			width: ($w-total)/4;
		}
	}	

