@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Viaoda+Libre&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Castoro:ital@0;1&family=Tourney&display=swap');


body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Viaoda Libre', cursive;
}


.encabezados h1{
	font-family: 'Bree Serif', serif;
    font-family: 'Castoro', serif;
	font-size: .7rem;
	color: gray;
	padding-top: .3rem;
	display: inline-block;
	background-color: #eef1fd;
}